.openCameraButton {
    padding: 10px;
    background-image: linear-gradient(rgb(18, 102, 192), rgb(31, 59, 89));
    color: white;
    border-radius: 10px;
}

.openCameraButton:hover {
    color: white;
    text-decoration: none;
    background-image: linear-gradient(rgb(31, 59, 89), rgb(18, 102, 192));
}

.selfieText {
    margin-top: 7%;
}

.cameraOpener {
    margin-top: 5%;
}


#webcamButton:hover{
text-decoration: none;
width: fit-content !important;}

#webcamButton{
    padding: 5px;
    width: fit-content !important
}
    
#imageFromWebcam {
    border-radius: 15px;
}

#explanationText {
    font-weight: bold;
    border: 1px solid black;
    border-radius: 5px;
    box-shadow: 5px 5px rgba(0, 0, 0, 0.4);
    background-image: linear-gradient(to bottom right, rgb(162, 66, 162),rgb(98, 98, 220));
    color: rgb(255, 255, 255);
}

