@import url('https://fonts.googleapis.com/css?family=Lora:400,400i,700,700i');

@font-face {
  font-family: Impact;
  src: url('./fonts/impact.ttf');
}



.pinkButton{
  display: flex;
  margin: 0 auto;
  margin-top: 10px;
  width: fit-content;
  background-color: rgb(211, 0, 116) !important;
  object-fit: fill;
  background-size: 120%;
  border: black solid 1px !important;
  color: rgb(255, 255, 255) !important;
 font-weight: bold;
  text-shadow: rgb(0, 0, 0) 1px 1px 2px;
  color: black;
  -webkit-text-fill-color: white; /* Will override color (regardless of order) */
  -webkit-text-stroke-width: .25px;
  -webkit-text-stroke-color: black;  
  text-align: center !important;
  justify-content: center !important;
}

#mememakerWrapper{
  margin-top: 5% !important;

}

.pinkButton:hover {
background-color: rgba(227, 60, 9, 0.913) !important;
border: 1px solid rgb(190, 48, 16) !important;
box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.5);

}


.form-control:focus {
  border-color: #666;
}



.navbar-brand {
  display: block;
  text-align: center;
  color: #FFF;
  margin: 0px 0px 20px 0px;
  padding-bottom: 15px;
  border-bottom: 1px solid #fff;
}

.navbar-brand:focus, .navbar-brand:hover, .navbar-brand:active {
  color: #FFF;
}

.meme-gen-modal {
  max-width: fit-content;
}

.modal-body {
  display: flex;
  border-radius: 0px;
  border: 1px none #000000;
  background-color: rgba( 246, 245, 243, 1.00 );
}

.modal-header {
  background-color: rgba( 246, 245, 243, 1.00 );
}

.meme-form {
  margin-left: 20px;
  padding-left: 20px;
  width: 300px;
  border-left: 1px solid #e9ecef;
}

.form-control:focus {
  box-shadow: none;
}



.image-holder {
  border: 1px solid black;
    background-color: black !important;
    height: 200px;
    width: 200px ;
    margin: 20px;
    box-shadow: 0px 0px 32px -10px rgba(0,0,0,0.75);
}

.image-holder:hover {
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.5);
  ;
}

.row {
  margin: 0 auto;
  justify-content: center;
}

.main-content {
  display: flex;
}

.sidebar {
  min-width: 300px;
  background: #333333;
  min-height: 100vh;
  margin-right: 7.5px;
  padding: 20px;
  max-width: 300px;
}

.sidebar p {
  margin-bottom: 30px;
  font-size: 15.12px;
  display: inline-block;
  color: #fff;
  letter-spacing: 1px;
  font-weight: 300;
  text-align: center;
}

.content {
  display: flex;
  flex-wrap: wrap;
  margin-top: 10px !important;
  margin-bottom: 20px !important;
  
}
.image-holder{
margin: 20px;
  margin-bottom: 50px !important;
}


.meme-bottom-caption {
  position: absolute;
  font-size: 20px;
  display: block;
  width: 100%;
  font-family: Impact;
  text-align: center;
  text-transform: uppercase;
  bottom: 0;
  padding: 5px;
  color: #fff;
  letter-spacing: 1px;
  background: linear-gradient(to left, rgb(51, 51, 51), rgba(51, 51, 51, 0.81));
}

.meme-top-caption {
  position: absolute;
  font-size: 20px;
  display: block;
  width: 100%;
  font-family: Impact;
  text-align: center;
  text-transform: uppercase;
  top: 0;
  padding: 5px;
  color: #fff;
  letter-spacing: 1px;
  background: linear-gradient(to left, rgb(51, 51, 51), rgba(51, 51, 51, 0.81));
}
