#memeMakerPicture{
    display: block;
    width: 300px;
    height: 300px;
    border: none;
    margin: 0px auto;
    margin-bottom: 20px !important;
    margin-top: 30px;


}
#textDiv{
    margin-left: 90px;
   
}

#pinkButtonOnPendingWarsContainer{
    margin-bottom: 3% !important;
}
#MemeMakerRow{
    width: 100%;
    justify-content: center;
    align-content: center;
    text-align: center;
    margin: 0px auto;
    padding-bottom: 20px;


}
.card{
    margin-top: 0px !important;
margin: 0px auto;
}

.jumbotron{
    margin-bottom: 0px;
    padding: 5px;
    background-color: transparent;
}
#addTextInput{
    width: 30% !important;
    align-content: center;
    text-align: center;
    margin-top: 60px !important;
    border-radius: 50px;
    outline: none;
    border: 1px solid slategray;
}

#addTextInputButton{
    align-content: center;
    text-align: center;
    margin-top: 70px !important;
    border-radius: 50px;
    height: 50px;
    outline: none;
    border: 1px solid slategray;
    display: inline-flex !important;
    padding: auto 5px !important;

}

#MemeMakerDiv{
    display: block;
    width: 300px;
    height: 300px;
    margin-top: 10px;
    justify-content: center;
    align-content: center;
    text-align: center;
    border: none;
}
