#memeMakerPicture{
    display: block;
    width: 300px;
    height: 300px;
    border: none;
    margin: 0px auto;
    margin-bottom: 20px !important;
    margin-top: 30px;


}
#textDiv{
    margin-left: 90px;
}
#MemeMakerRow{
    width: 100%;
    justify-content: center;
    align-content: center;
    text-align: center;
    margin: 0px auto;
    padding-bottom: 20px;


}
.card{
    margin-top: 0px !important;
margin: 0px auto;
}

.jumbotron{
    margin-bottom: 0px;
    padding: 5px;
    background-color: transparent;
}
#addTextInput{
    width: 30% !important;
    align-content: center;
    text-align: center;
    margin-top: 60px !important;
}

#MemeMakerDiv{
    display: block;
    width: 300px;
    height: 300px;
    margin-top: 10px;
    justify-content: center;
    align-content: center;
    text-align: center;
    border: none;
}
