body {
    background-image: url(../../images/tile.jpg);
}

#profileSidebar{
    box-shadow: 5px 6px 15px rgba(0, 0, 0, 0.5) !important;

    margin-left: 0px;
    float: left;
    padding: 20px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 100px;
    height: 100% !important;
    text-align: center;
    background-image: url(../../images/binding-dark.png);
    color: black !important;
    -webkit-text-stroke: .25px black;
    border-right: black 1px solid !important;
    background-color: rgba(16, 16, 16, 0.2); /* Black background with opacity */
}

.linkToInvite{
    color: black !important;
    outline: none !important;
    border: none !important;
}