body {
    background-image: url(../../images/tile.jpg);
}

#profileSidebar{
    box-shadow: 5px 6px 15px rgba(0, 0, 0, 0.5) !important;
margin-top: 50px;

    margin-left: 0px;
    float: left;
    padding: 20px;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 100px;
    height: 100% !important;
    text-align: center;
    background-image: url("../../images/bright.jpg");
    background-position-x: 45%;
    position: fixed;
    color: white !important;
    text-shadow: 1px 1px 4px black;
    -webkit-text-stroke: .25px black;
    border-right: black 1px solid !important;
    background-color: rgba(245, 7, 70, 0.2); /* Black background with opacity */
}

.linkToInvite{
    color: white !important;
    text-shadow: 1px 1px 4px black;
    outline: none !important;
    border: none !important;
}