
#InviteFriendsRow{
    align-content: center;
    text-align: center;
    justify-content: center;
    margin: 0px auto;
    margin-top: 3px;
}
 .DivForInput{
display: flex;
align-content: center;
    text-align: center;
    justify-content: center;
    margin: 0px auto;
 }

.outerDivForPinkButton{
    width: 30%;
    margin: 0 auto;
    justify-content: center ;
    align-content: center;
    text-align: center;
}
 
.roundedInput{
    width: 90%;
    border-radius: 50px;
    outline: none;
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);

}

.btn{
    border-radius: 50px;
    outline: none;
    border: 1px solid slategray;
}

.jumbotron{
    background-color: transparent;
    margin: 0px;
    padding: 0px;
    padding-top: 25px;

}