
#InviteFriendsRow{
    align-content: center;
    text-align: center;
    justify-content: center;
    margin: 0px auto;
    margin-top: 3px;
}

#email{
    width: 500px;
    border-radius: 50px;
    outline: none;
}

.btn{
    border-radius: 50px;
    outline: none;
    border: 1px solid slategray;
}

.jumbotron{
    background-color: transparent;
    margin: 0px;
    padding: 0px;
    padding-top: 25px;

}