#userProfileDiv{
    width: 20%;  
}

#memeCardDivOnBattlePage{
    width: 80%;
    margin-top: 5% !important;

    display: flex;
  flex-wrap: wrap;
}

#navbarDiv{
    margin: 0px;
    padding: 0px;
}

#mainBodyDiv{
    margin-top: 0px;
    padding-top: 0px;
z-index: -1;
}

#memePicture{
    display: inline-block;
    width: 200px;
    height: 200px;
    border: none;
}

#createMemeButton{
    align-items: center;
    justify-content: center;
    margin-top: 2px;

}