#userProfileDiv{
    width: 20%;  
}

#battleCardDiv{
    width: 80%;
    border-bottom: 1px solid black;
    padding-left: 10px;
}


#innerBattleCardDiv{
    width: 100%;

    
}

#navbarDiv{
    margin: 0px;
    padding: 0px;
}

#mainBodyDiv{
    margin-top: 0px;
    padding-top: 0px;
    margin: 0px;
    padding: 0px;
}