#userProfileDiv{
    width: 20%;  
}

#battleCardDiv{
    width: 80%;
    margin-top: 5% !important;
    border-bottom: 1px solid black;
    padding-left: -100px !important;
    float: left;
}

#homepageDIV{
    min-width: 80% !important;
}

#innerBattleCardDiv{
    width: 100%;

    
}

#navbarDiv{
    margin: 0px;
    padding: 0px;
}

#mainBodyDiv{
    margin-top: 0px;
    padding-top: 0px;
    margin: 0px;
    padding: 0px;
}
