#userProfileDiv{
    width: 20%;  
}

#holds-all-the-memecard-divs{
    margin-top: 5% !important;

    width: 80%;
}
#imageHolderOnPendingWars{
    margin-bottom: 16% !important;
}

#PinkButtonIDForPendingWarsPage{
margin-left: 13%;
padding:  auto 5px !important;

}

#MemeOfYouOnPendingWarsPage{
    width: 80%;
    display: block;
}

#PictureOfOpponentOnPendingWarsPage{
    width: 80%;
    margin-top: -12px !important;
    display: block;
}

#pinkButtonOnPendingWarsContainer{
    margin-top: 30px !important;
    padding: 8px;

}

#pendingWarsFeed{
    display: inline-flex;
}

#navbarDiv{
    margin: 0px;
    padding: 0px;
}

#mainBodyDiv{
    margin-top: 0px;
    padding-top: 0px;
}

#memePicture{
    display: inline-block;
    width: 200px;
    height: 200px;
    border: none;
}

#createMemeButton{
    align-items: center;
    justify-content: center;
    margin-top: 2px;

}

