#loginForm{
    justify-content: center;
    align-content: center;
    text-align: center;
}
#registerLink{
    font-size: 80%;
}

.loginContainer{
    width: 100%; 
    margin-top: 100px;
    justify-content: center;
    align-content: center;
    text-align: center;
    margin: 0px auto;
background-image: url("../../images/tile.jpg"), url("../../images/smoke.png");
position: absolute; 
background-repeat: no-repeat;   
background-position-y: 60%;
height: 700px;

}
.logo{
  margin-top: 30px !important;
background: url("../../images/logo4.png");
display: flex;
  width: 40%;
  background-repeat: no-repeat;
padding-bottom: 8%;
  background-size: 100%;
  position: relative;
  margin: 0px auto;


  

}

