#loginForm{
    justify-content: center;
    align-content: center;
    text-align: center;
}
#registerLink{
    font-size: 80%;
}

.loginContainer{
    width: 100%;
    margin-top: 100px;
    justify-content: center;
    align-content: center;
    text-align: center;
    margin: 0px auto;
background-image: url("../../images/tile.jpg");    
height: 900px;

}
.logo{
  margin-top: 30px !important;
background: url("../../images/1x/Asset\ 3.png");
display: flex;
  width: 40%;
  background-repeat: no-repeat;
padding-bottom: 10%;
  background-size: 100%;
  position: relative;
  margin: 0px auto;
  margin-left: 30.5%;

}

