#memePicture{
    display: inline-block;
    width: 200px;
    height: 200px;
    border: 1px solid black !important;
    box-shadow: lightgrey 2px 2px 2px 2px;
    

}
#memeDiv{
    display: inline-flex;
    width: 200px;
    height: 200px;
    margin-top: 70px !important;
    margin-left: 10px;
    justify-content: center;

}

#createMemeButton{
    align-items: center;
    justify-content: center;
    margin-top: 2px;

}
