#memePicture{
    display: inline-block;
    width: 200px;
    height: 200px;
    border: none;
    

}
#memeDiv{
    display: inline-flex;
    width: 200px;
    height: 200px;
    margin-top: 70px !important;
    margin-left: 10px;
    justify-content: center;
    border: none;
}

#createMemeButton{
    align-items: center;
    justify-content: center;
    margin-top: 2px;

}
