#userProfileDiv{
    width: 20%; 
    min-height: 650px; 
}

#memeCardDiv{
    margin-top: 5% !important;
    width: 80%;
}

#navbarDiv{
    margin: 0px;
    padding: 0px;
}

#mainBodyDiv{
    margin-top: 0px;
    padding-top: 0px;
}

#memePicture{
    display: inline-block;
    width: 200px;
    height: 200px;
    border: none;
}

#createMemeButton{
    align-items: center;
    justify-content: center;
    margin-top: 2px;

}