#placeholderImage{
  width: 20%;
} 

.buttonClass{
    display: flex;
    margin: 0 auto;
    margin-top: 10px;
    width: 40%;
    background-color: rgb(123, 123, 123) !important;
    border: black solid 1px !important;
    color: black !important;
    text-align: center !important;
    justify-content: center !important;
    border-radius: 100px;
    
  }
  
  .buttonClass:hover {
    background-color: rgb(97, 97, 97) !important;
  border: 1px solid rgb(45, 45, 45) !important;
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.5);
  text-decoration: none;
  
  }