#memePicture{
    display: inline-block;
    width: 200px;
    height: 200px;
    background-color: black;
    
}
#additionalDIV{
    margin-left: 0px;
    padding-left: 0px;
    float: left;
}
#battleRow{
    border-bottom: 1px solid slategray;
    padding: 0px 20px 10px 70px ;
margin-left: 20px;
    width: 100%;
}
.card{
    margin-top: 0px !important;
}

#BattleMemeDiv{
    display: inline-flex;
    width: 200px;
    height: 200px;
    margin-top: 20px !important;
    justify-content: left;
    align-content: center;
    text-align: center;
    border: none;
    margin-left: 10px;
    margin-right: 10px;
    background-color: transparent;

}

#voteForMemeButton{
    width: 80%;
    align-items: center;
    justify-content: center;
    margin-top: 2px;
    margin: 0px auto;
    border-radius: 0px;
    border: 2px solid black !important;

}