li {
    display: inline-block;
    padding: 10px;
}
.nav-item .nav-link{
    color: rgb(69, 68, 68);
    outline: none !important;
    border: none !important;
}
#navBar{
    border-bottom: 1px slategray solid;
    margin-left: 0px;
    margin-right: 0px;
    padding-left: 0px;
    padding-right: 0px;
    box-shadow: 0 7px 3px -3px rgba(0, 0, 0, 0.1);
    background-color: white;

    
}

.nav{
    margin: 0px;
    padding-left: 0px;
    padding-right: 0px;
    
}

